In [1]:
import pandas as pd
import numpy as np

1) Reading the Rounds2, companies.txt files.

In [2]:
round2=pd.read_csv("rounds2 (1).csv", encoding='latin1')
round2

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0
...,...,...,...,...,...,...
114944,/organization/zzzzapp-com,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0
114945,/ORGANIZATION/ZZZZAPP-COM,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0
114946,/organization/ãeron,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN
114947,/ORGANIZATION/ÃASYS-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0
114948,/organization/ä°novatiff-reklam-ve-tanä±tä±m-h...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0

In [3]:
company=pd.read_csv("companies (1).txt", sep='\t')
company

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010
...,...,...,...,...,...,...,...,...,...,...
66363,/Organization/Zznode-Science-And-Technology-Co...,ZZNode Science and Technology,http://www.zznode.com,Enterprise Software,operating,CHN,22,Beijing,Beijing,NaN
66364,/Organization/Zzzzapp-Com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
66365,/Organization/ÃEron,ÃERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,01-01-2011
66366,/Organization/Ã”Asys-2,Ã”asys,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,CA,SF Bay Area,San Francisco,01-01-2014
66367,/Organization/Ä°Novatiff-Reklam-Ve-Tanä±Tä±M-H...,Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN

In [4]:
round2.describe()

       raised_amount_usd
count       9.495900e+04
mean        1.042687e+07
std         1.148212e+08
min         0.000000e+00
25%         3.225000e+05
50%         1.680511e+06
75%         7.000000e+06
max         2.127194e+10

In [5]:
round2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114949 entries, 0 to 114948
Data columns (total 6 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   company_permalink        114949 non-null  object
 1   funding_round_permalink  114949 non-null  object
 2   funding_round_type       114949 non-null  object
 3   funding_round_code       31140 non-null   object
 4   funded_at                114949 non-null  object
 5   raised_amount_usd        94959 non-null   float64
dtypes: float64(1), object(5)
memory usage: 5.3+ MB

In [6]:
company.describe()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
count,66368,66367,61310,63220,66368,59410,57821,58338,58340,51147
unique,66368,66102,61191,27296,4,137,311,1092,5111,3978
top,/Organization/-Fame,Blink,http://www.askforoffer.com,Software,operating,USA,CA,SF Bay Area,San Francisco,01-01-2012
freq,1,4,5,3995,53034,37601,12900,8804,3526,2730

In [7]:
company.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66368 entries, 0 to 66367
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   permalink      66368 non-null  object
 1   name           66367 non-null  object
 2   homepage_url   61310 non-null  object
 3   category_list  63220 non-null  object
 4   status         66368 non-null  object
 5   country_code   59410 non-null  object
 6   state_code     57821 non-null  object
 7   region         58338 non-null  object
 8   city           58340 non-null  object
 9   founded_at     51147 non-null  object
dtypes: object(10)
memory usage: 5.1+ MB

2. How many unique companies are present in rounds2?

In [8]:
round2["company_permalink"].nunique()

90247

3. How many unique companies are present in the companies file?

In [9]:
company["permalink"].nunique()

66368

In [10]:
company["name"].nunique()

66102

In [11]:
company["name"].unique() # displays the different unique values

array(['#fame', ':Qounter', '(THE) ONE of THEM,Inc.', ..., 'Ã\x81ERON',
       'Ã”asys', 'Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic'],
      dtype=object)

4.Write the code to convert companies[‘permalink’] and Round2[‘company_permalink’] columns  to uppercase.

In [12]:
round2["company_permalink"]=round2["company_permalink"].str.upper() 
round2["company_permalink"]

0                                       /ORGANIZATION/-FAME
1                                    /ORGANIZATION/-QOUNTER
2                                    /ORGANIZATION/-QOUNTER
3                       /ORGANIZATION/-THE-ONE-OF-THEM-INC-
4                                     /ORGANIZATION/0-6-COM
                                ...
114944                            /ORGANIZATION/ZZZZAPP-COM
114945                            /ORGANIZATION/ZZZZAPP-COM
114946                                 /ORGANIZATION/ÃERON
114947                               /ORGANIZATION/ÃASYS-2
114948    /ORGANIZATION/Ä°NOVATIFF-REKLAM-VE-TANÄ±TÄ±M-H...
Name: company_permalink, Length: 114949, dtype: object

In [13]:
company["permalink"] = company["permalink"].str.upper() 
company["permalink"]

0                                      /ORGANIZATION/-FAME
1                                   /ORGANIZATION/-QOUNTER
2                      /ORGANIZATION/-THE-ONE-OF-THEM-INC-
3                                    /ORGANIZATION/0-6-COM
4                           /ORGANIZATION/004-TECHNOLOGIES
                               ...
66363    /ORGANIZATION/ZZNODE-SCIENCE-AND-TECHNOLOGY-CO...
66364                            /ORGANIZATION/ZZZZAPP-COM
66365                                 /ORGANIZATION/ÃERON
66366                               /ORGANIZATION/Ã”ASYS-2
66367    /ORGANIZATION/Ä°NOVATIFF-REKLAM-VE-TANÄ±TÄ±M-H...
Name: permalink, Length: 66368, dtype: object

5. Are there any companies in the rounds2 file which are not present in companies.txt ?

In [14]:
company_only_in_round2=round2[round2["company_permalink"].isin(company["permalink"])]
company_only_in_round2.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/ORGANIZATION/-FAME,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/ORGANIZATION/-QOUNTER,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/ORGANIZATION/0-6-COM,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

In [15]:
print("Number of companies only in_round2 is ",len(company_only_in_round2))

Number of companies only in_round2 is  114917

6. Merge the two data frames so that all variables (columns) in the company's frame are added
#to the rounds2 data frame. Name the merged frame master_dataframe. How many observations
#are present in master_frame ?

In [16]:
master_dataframe=pd.merge(left=round2,right=company,
                          how="inner",
                          left_on="company_permalink", right_on="permalink")

master_dataframe.shape[0]

#we use left_on and right_on when we have the column names are different in both dataframe

114917

In [17]:
master_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114917 entries, 0 to 114916
Data columns (total 16 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   company_permalink        114917 non-null  object
 1   funding_round_permalink  114917 non-null  object
 2   funding_round_type       114917 non-null  object
 3   funding_round_code       31134 non-null   object
 4   funded_at                114917 non-null  object
 5   raised_amount_usd        94942 non-null   float64
 6   permalink                114917 non-null  object
 7   name                     114916 non-null  object
 8   homepage_url             108788 non-null  object
 9   category_list            111518 non-null  object
 10  status                   114917 non-null  object
 11  country_code             106263 non-null  object
 12  state_code               103996 non-null  object
 13  region                   104774 non-null  object
 14  city                     104777 non-null  object
 15  founded_at               94407 non-null   object
dtypes: float64(1), object(15)
memory usage: 14.9+ MB

In [18]:
master_dataframe.shape

(114917, 16)

7. Write the code to drop the redundant column ‘'company_permalink' from the
#master_dataframe.

In [19]:
master_dataframe.drop('company_permalink', axis=1, inplace=True)

In [20]:
master_dataframe

,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
3,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
4,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114912,/funding-round/6ba41360588bc6e3f77e9b50a0ebfafa,seed,NaN,01-08-2013,33149.0,/ORGANIZATION/ZZZZAPP-COM,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
114913,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0,/ORGANIZATION/ZZZZAPP-COM,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
114914,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0,/ORGANIZATION/ZZZZAPP-COM,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
114915,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN,/ORGANIZATION/ÃERON,ÃERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,01-01-2011
114916,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0,/ORGANIZATION/Ä°NOVATIFF-REKLAM-VE-TANÄ±TÄ±M-H...,Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN

8. Write the code to find the percentage missing value (column-wise) in master_dataframe. Drop
#unnecessary columns.

In [21]:
master_dataframe.isnull()
percent_missing=(master_dataframe.isnull().sum()/master_dataframe.shape[0] )*100
percent_missing

funding_round_permalink     0.000000
funding_round_type          0.000000
funding_round_code         72.907403
funded_at                   0.000000
raised_amount_usd          17.382111
permalink                   0.000000
name                        0.000870
homepage_url                5.333415
category_list               2.957787
status                      0.000000
country_code                7.530653
state_code                  9.503381
region                      8.826370
city                        8.823760
founded_at                 17.847664
dtype: float64

In [22]:
columns_to_drop = percent_missing[percent_missing >70 ].index
columns_to_drop

Index(['funding_round_code'], dtype='object')

In [23]:
master_dataframe.drop(columns_to_drop, axis=1,inplace=True)

In [24]:
master_dataframe.shape

(114917, 14)

9. Create a pivot table to compare the mean and median values for ‘raised_amount_usd’ and
#‘funding_round_type’ across different funding round categories..

In [25]:
pd.pivot_table(data=master_dataframe,values="raised_amount_usd",index= "funding_round_type", aggfunc=["mean","median"])

                                   mean            median
                      raised_amount_usd raised_amount_usd
funding_round_type
angel                      9.588918e+05          400000.0
convertible_note           1.453439e+06          272000.0
debt_financing             1.704353e+07         1100000.0
equity_crowdfunding        5.383682e+05          100000.0
grant                      4.302600e+06          202658.0
non_equity_assistance      4.112031e+05           60000.0
post_ipo_debt              1.687046e+08        19950000.0
post_ipo_equity            8.218249e+07        12262852.5
private_equity             7.330859e+07        20000000.0
product_crowdfunding       1.363131e+06          183915.0
secondary_market           7.964963e+07        32600000.0
seed                       7.200163e+05          275000.0
undisclosed                1.924237e+07         1018680.0
venture                    1.174875e+07         5000000.0

10. Filter the master_dataframe on ‘raised_amount_usd’ such as ‘raised_amount_usd’ lie
#between 4 Millions to 15 Millions.

In [26]:
Filter_master_dataframe=master_dataframe[(master_dataframe["raised_amount_usd"]>4000000) 
                                         & (master_dataframe["raised_amount_usd"]<15000000)]
Filter_master_dataframe.head(5)

,funding_round_permalink,funding_round_type,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,05-01-2015,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
12,/funding-round/e1cfcbe1bdf4c70277c5f29a3482f24e,venture,19-07-2014,8900000.0,/ORGANIZATION/0XDATA,H2O.ai,http://h2o.ai/,Analytics,operating,USA,CA,SF Bay Area,Mountain View,01-01-2011
21,/funding-round/11c228f58831bc7ed337ef69ecc560c2,private_equity,01-02-2015,6000000.0,/ORGANIZATION/1-800-PUBLICRELATIONS-INC-,"1-800-PublicRelations, Inc.",http://www.1800publicrelations.com,Internet Marketing|Media|Public Relations,operating,USA,NY,New York City,New York,24-10-2013
22,/funding-round/b952cbaf401f310927430c97b68162ea,venture,17-03-2015,5000000.0,/ORGANIZATION/1-MAINSTREAM,1 Mainstream,http://www.1mainstream.com,Apps|Cable|Distribution|Software,acquired,USA,CA,SF Bay Area,Cupertino,01-03-2012
46,/funding-round/645b4cd895450b8e0268027cd7813047,venture,04-11-2015,6602694.0,/ORGANIZATION/1001-MENUS,ZenChef,http://zenchef.com/en/,Local Businesses|Restaurants,operating,FRA,A8,Paris,Paris,20-11-2010

In [27]:
Filter_master_dataframe.shape

(19768, 14)

11.Identify the top 9 countries in terms of highest investment in ‘venture’ fund type.

In [28]:
print("The top 9 countries in terms of highest investment in ‘venture’ fund type are:\n")
venture_type=master_dataframe[master_dataframe["funding_round_type"]=="venture"]
top_9_countries=venture_type.groupby(by="country_code")["raised_amount_usd"].sum().sort_values(ascending=False).head(9)
top_9_countries

The top 9 countries in terms of highest investment in ‘venture’ fund type are:

country_code
USA    4.225108e+11
CHN    3.983542e+10
GBR    2.024563e+10
IND    1.439186e+10
CAN    9.583332e+09
FRA    7.259537e+09
ISR    6.907515e+09
DEU    6.346960e+09
JPN    3.363677e+09
Name: raised_amount_usd, dtype: float64

12. Create the ‘main_category’ column by extracting the main sector using the column ‘category_list’.
#Hint - Use the Lambda function or string function

In [29]:
master_dataframe["category_list"].unique()

array(['Media', 'Application Platforms|Real Time|Social Network Media',
       'Apps|Games|Mobile', ...,
       'Analytics|Android|Developer APIs|Education|Gamification|iOS',
       'Advertising|Mobile|Web Development|Wireless',
       'Consumer Goods|E-Commerce|Internet'], dtype=object)

In [30]:
master_dataframe['category_list']=master_dataframe['category_list'].astype(str)

In [31]:
master_dataframe['main_category'] = master_dataframe['category_list'].apply(lambda x: x.split('|')[0])
master_dataframe[['main_category']]

                main_category
0                       Media
1       Application Platforms
2       Application Platforms
3                        Apps
4                 Curated Web
...                       ...
114912            Advertising
114913            Advertising
114914            Advertising
114915                    nan
114916         Consumer Goods

[114917 rows x 1 columns]

In [32]:
#the lambda function splits each string in the 'category_list' column by the delimiter '|' 
#and selects the first element of the resulting list

13. Using the user defined function convert the ‘rasied_amount_used’ column into a categorical
column as followa) If the amount is less than 5 Millions then recode as TypeA.
b) If the amount is greater than 5 Millions and less than 7 Millions then recode as TypeB.
c) If the amount is greater than 7 Millions then recode as TypeC

In [33]:
master_dataframe["raised_amount_usd"].dtype

dtype('float64')

In [34]:
def convert_amount(row):
    if row < 5000000:
        return 'TypeA'
    elif row >= 5000000 and row < 7000000:
        return 'TypeB'
    else:
        return 'TypeC'

master_dataframe['raised_amount_usd'] = master_dataframe['raised_amount_usd'].apply(convert_amount)
master_dataframe[['raised_amount_usd']]

       raised_amount_usd
0                  TypeC
1                  TypeC
2                  TypeA
3                  TypeA
4                  TypeA
...                  ...
114912             TypeA
114913             TypeA
114914             TypeA
114915             TypeC
114916             TypeA

[114917 rows x 1 columns]

Major Challenge![image.png]

Question 1. Find the top 3 investments, in which the country and in which
field the company belongs, in each year

In [35]:
round2

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/ORGANIZATION/-FAME,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/ORGANIZATION/-QOUNTER,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/ORGANIZATION/0-6-COM,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0
...,...,...,...,...,...,...
114944,/ORGANIZATION/ZZZZAPP-COM,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0
114945,/ORGANIZATION/ZZZZAPP-COM,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0
114946,/ORGANIZATION/ÃERON,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN
114947,/ORGANIZATION/ÃASYS-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0
114948,/ORGANIZATION/Ä°NOVATIFF-REKLAM-VE-TANÄ±TÄ±M-H...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0

In [36]:
l=[]
for i in round2["funded_at"].str.split("-"):
    l.append(int(i[2]))

In [37]:
round2["funded_year"]=l

In [38]:
top_3_investments=round2.groupby("funded_at").apply(lambda x:x.nlargest(3,"raised_amount_usd")).reset_index(drop=True)
top_3_investments

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,funded_year
0,/ORGANIZATION/VEVEO,/funding-round/27711eabc8cea3f060c8c090c80852a7,undisclosed,NaN,01-01-1960,NaN,1960
1,/ORGANIZATION/INTERCOMP,/funding-round/518b5cd317f2bc768560d1a7bee2282c,undisclosed,NaN,01-01-1971,549000.0,1971
2,/ORGANIZATION/ABO-DATA,/funding-round/809e211b969c3f66440fc15ffcd29385,seed,NaN,01-01-1979,1000000.0,1979
3,/ORGANIZATION/MITROL-2,/funding-round/6b29e0441867dd180fc26e4d4027ee26,undisclosed,NaN,01-01-1980,9000000.0,1980
4,/ORGANIZATION/KNOWARE,/funding-round/52c61539a2dfa76d4c9cc68acd0fb067,undisclosed,NaN,01-01-1984,2000000.0,1984
...,...,...,...,...,...,...,...
13132,/ORGANIZATION/DIANRONG,/funding-round/4402d408562f808e52e147e6b642875c,venture,A,31-12-2013,12000000.0,2013
13133,/ORGANIZATION/CARBON3D,/funding-round/5edff5c2e9da900335f99b1659d5fe53,venture,A,31-12-2013,11000000.0,2013
13134,/ORGANIZATION/SNAPCHAT,/funding-round/4a2de2da69d5ccaac8589108c8055e42,venture,D,31-12-2014,485000000.0,2014
13135,/ORGANIZATION/MEITU,/funding-round/421613e0527c1ff334b7b06ee4be175e,venture,C,31-12-2014,350000000.0,2014
13136,/ORGANIZATION/YOTTAA,/funding-round/172fc725ca2a23bcf3f1c641922bac41,venture,NaN,31-12-2014,10445469.0,2014

In [39]:
top_3_investments.set_index("company_permalink", inplace=True)

In [40]:
top_3_investments.head(2)

,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,funded_year
company_permalink,,,,,,
/ORGANIZATION/VEVEO,/funding-round/27711eabc8cea3f060c8c090c80852a7,undisclosed,NaN,01-01-1960,NaN,1960
/ORGANIZATION/INTERCOMP,/funding-round/518b5cd317f2bc768560d1a7bee2282c,undisclosed,NaN,01-01-1971,549000.0,1971

In [41]:
company["category_list"].fillna("Biotechnology", inplace=True)
company["category_list"].isnull().sum()

0

In [42]:
l=[]
for i in company["category_list"].str.split("|").values:
    l.append(i[0])
l

['Media',
 'Application Platforms',
 'Apps',
 'Curated Web',
 'Software',
 'Games',
 'Biotechnology',
 'Analytics',
 'Mobile',
 'E-Commerce',
 'Entertainment',
 'Networking',
 'Health and Wellness',
 'Health and Wellness',
 'Internet Marketing',
 'Apps',
 'Entertainment',
 'E-Commerce',
 'Education',
 'Search',
 'Art',
 'Mobile',
 'Beauty',
 'Curated Web',
 'Curated Web',
 'Local Businesses',
 'Cosmetics',
 'Games',
 'Hospitality',
 'Education',
 'Health Care',
 'Analytics',
 'Software',
 'Advertising',
 'Curated Web',
 'Coffee',
 'E-Commerce',
 'Enterprise Software',
 'Batteries',
 'iOS',
 'Biotechnology',
 'Biotechnology',
 'Software',
 'Fashion',
 'Health and Wellness',
 'EdTech',
 'Social Travel',
 'Enterprise Software',
 'Health and Wellness',
 'Sports',
 'Sports',
 'Real Estate',
 'Audio',
 'Health Diagnostics',
 'Advertising',
 'E-Commerce',
 'Biotechnology',
 'Internet',
 'Local Search',
 'Software',
 'Service Providers',
 'Publishing',
 'Mobile',
 'Consumer Goods',
 'E-Commerce',
 'Manufacturing',
 'E-Commerce',
 'Augmented Reality',
 'Advertising',
 'Advertising',
 'Finance',
 'Biotechnology',
 'Software',
 'Games',
 'Fashion',
 'Software',
 'Entertainment',
 'Design',
 'Public Transportation',
 'Biotechnology',
 'Software',
 'Internet',
 'Travel',
 'Education',
 'Baby Accessories',
 'Advertising',
 'Designers',
 'Finance',
 'Cars',
 'Clean Technology',
 'Games',
 'Advertising',
 'Content',
 'Chat',
 'Cloud Computing',
 'Health Care',
 'Geospatial',
 'Music Services',
 'Curated Web',
 'Cosmetics',
 'Health and Wellness',
 'Doctors',
 'Software',
 'Health and Wellness',
 'E-Commerce',
 'Mobile',
 'Health and Wellness',
 'Social Media',
 'Non Profit',
 'Biotechnology',
 'Content',
 'Fitness',
 'Advertising',
 'Biotechnology',
 'Mobile',
 'Manufacturing',
 'Landscaping',
 'Financial Services',
 'E-Commerce',
 'E-Commerce',
 'Biotechnology',
 'Analytics',
 'Biotechnology',
 'Games',
 'Consumers',
 'Design',
 'Digital Media',
 'Biotechnology',
 'Mobile',
 'News',
 'Curated Web',
 'Technology',
 'Art',
 'Advertising',
 'Delivery',
 'E-Commerce',
 'Big Data',
 'Software',
 'Health and Wellness',
 'Software',
 'Biotechnology',
 'Android',
 'Software',
 'Mobile',
 'Biotechnology',
 'Blogging Platforms',
 'Finance',
 'Customer Service',
 'Sports',
 'News',
 'Real Estate',
 'EdTech',
 'Hardware + Software',
 'Computers',
 'Biotechnology',
 'Non Profit',
 'Advertising',
 'Internet',
 'Clean Technology',
 'Artificial Intelligence',
 'Biotechnology',
 'Software',
 'Software',
 'Services',
 'Software',
 'DIY',
 'Software',
 'Software',
 'E-Commerce',
 'Presentations',
 'Cloud Computing',
 'Biotechnology',
 'Ad Targeting',
 'Biotechnology',
 'E-Commerce',
 'Credit Cards',
 'Software',
 'E-Commerce',
 'Internet',
 'Software',
 'Hardware + Software',
 'Mobile',
 'Clean Technology',
 'E-Commerce',
 'Software',
 'Discounts',
 'Curated Web',
 'Internet of Things',
 'Content',
 'Application Platforms',
 'Health and Wellness',
 'Biotechnology',
 'Software',
 'Cloud Infrastructure',
 'Landscaping',
 'Advertising',
 'SaaS',
 'Curated Web',
 'Messaging',
 'Hospitality',
 'Art',
 'EdTech',
 'E-Commerce',
 'Software',
 'Collaboration',
 'Curated Web',
 'Interior Design',
 'Energy',
 'Biotechnology',
 'Internet',
 'Biotechnology',
 'Apps',
 'Transportation',
 'Biotechnology',
 'Finance',
 'E-Commerce',
 'FinTech',
 'Entertainment',
 'Advertising',
 'Internet',
 'Curated Web',
 'Information Technology',
 'Consumer Electronics',
 'Biotechnology',
 'Biotechnology',
 'Software',
 'Communities',
 'Internet',
 'Enterprise Software',
 'Finance',
 'Data Centers',
 'Entertainment',
 'Finance',
 'Point of Sale',
 'Artificial Intelligence',
 'Android',
 'Enterprises',
 'Blogging Platforms',
 'Bitcoin',
 'Mobile',
 'Project Management',
 'Software',
 'Mobile',
 'Health and Wellness',
 'Networking',
 'Business Services',
 'Cloud Computing',
 'Biotechnology',
 'Babies',
 'Consumer Electronics',
 'Customer Service',
 'Enterprise Software',
 '3D',
 'Biotechnology',
 'Services',
 '3D',
 '3D Technology',
 '3D',
 'Biotechnology',
 'Games',
 'Photography',
 '3D Printing',
 '3D',
 'Alumni',
 '3D Printing',
 '3D',
 'Drones',
 'Biotechnology',
 'Hardware + Software',
 'Software',
 'Software',
 'Hardware + Software',
 'Health Care',
 'E-Commerce',
 'Technology',
 'E-Commerce',
 'Business Services',
 '3D',
 '3D Printing',
 '3D Technology',
 'Automotive',
 'Biotechnology',
 'Biotechnology',
 '3D',
 '3D Printing',
 '3D Printing',
 'Games',
 'Printing',
 'Creative',
 '3D Printing',
 '3D',
 'Biotechnology',
 '3D Printing',
 '3D',
 'Finance',
 'Curated Web',
 'Automated Kiosk',
 'Business Analytics',
 'Android',
 'Software',
 'Music',
 'Mobile',
 'Semiconductors',
 'Biotechnology',
 'Messaging',
 'Software',
 'Web Hosting',
 'Android',
 'iOS',
 'Biotechnology',
 'Cloud Data Services',
 'Consulting',
 'Biotechnology',
 'Software',
 'Curated Web',
 'Biotechnology',
 'Clean Technology',
 'Curated Web',
 'Game',
 'Mobile',
 'Developer APIs',
 'Biotechnology',
 'App Marketing',
 'Physical Security',
 'Consulting',
 'Manufacturing',
 'Clean Technology',
 'Software',
 'Clean Technology',
 'Software',
 'Coupons',
 'Security',
 'Databases',
 'Flash Storage',
 'Games',
 'Design',
 'Animal Feed',
 'Biotechnology',
 'Mobile',
 'E-Commerce',
 'Networking',
 'Creative Industries',
 'Enterprise Software',
 'Machine Learning',
 'Crowdfunding',
 'Messaging',
 'Security',
 'Enterprise Software',
 'Software',
 'Software',
 'Commercial Real Estate',
 'Advertising',
 'Web Hosting',
 'Online Travel',
 'Business Services',
 'Real Estate',
 'Creative',
 'Internet',
 'Biotechnology',
 'Web Design',
 'Entertainment',
 'Software',
 'Analytics',
 'Clean Technology',
 'Clean Technology',
 'Biotechnology',
 'Biotechnology',
 'Mobile',
 'Biotechnology',
 'Anything Capital Intensive',
 'Biotechnology',
 'Automotive',
 'Ad Targeting',
 'E-Commerce',
 'Biotechnology',
 'E-Commerce',
 'Hardware + Software',
 'Games',
 'Cloud Computing',
 'Games',
 'Mobile',
 'Human Resources',
 'Information Technology',
 'Biotechnology',
 'Apps',
 'Biotechnology',
 'Financial Services',
 'Advertising',
 'Office Space',
 'Biotechnology',
 '3D Technology',
 'Real Estate',
 'Pets',
 'Technology',
 'Aerospace',
 'Curated Web',
 'Software',
 'Internet',
 'Games',
 'Software',
 'Business Services',
 'Consumer Electronics',
 'Sports',
 'Real Estate',
 'Fashion',
 'Finance',
 'Online Shopping',
 'E-Commerce',
 'Distribution',
 'Apps',
 'E-Commerce',
 'Automotive',
 'Software',
 'Carbon',
 'Biotechnology',
 'Real Estate',
 'E-Commerce',
 'Finance',
 'Biotechnology',
 'E-Commerce',
 'Education',
 'Curated Web',
 'Career Management',
 'Education',
 'Leisure',
 'Games',
 'Biotechnology',
 'Android',
 'Internet',
 'Games',
 'Manufacturing',
 'Art',
 'Biotechnology',
 'Software',
 'E-Commerce',
 'Photography',
 'Curated Web',
 'Consumer Internet',
 'Curated Web',
 'Video',
 'Advertising',
 'Mobile',
 'Mobile',
 'Apps',
 '3D',
 'Food Processing',
 'Music',
 'Healthcare Services',
 'Software',
 'Startups',
 'Education',
 'Art',
 'Information Technology',
 'Software',
 'Games',
 'Sales and Marketing',
 'Advertising',
 'Mobile',
 'Games',
 'Advertising',
 'Biotechnology',
 'Accounting',
 'Browser Extensions',
 'Software',
 'Real Estate',
 'EdTech',
 'Web Hosting',
 'Information Services',
 'Services',
 'Apps',
 'Biotechnology',
 'Enterprise Software',
 'Concentrated Solar Power',
 'Cloud Computing',
 'Mobile',
 'Photography',
 'Security',
 'B2B',
 'Health and Wellness',
 'Finance',
 'Software',
 'Nanotechnology',
 'Social Network Media',
 'Android',
 'Analytics',
 'Enterprise Software',
 'Health and Wellness',
 'Development Platforms',
 'Biotechnology',
 'Games',
 'Bicycles',
 'Analytics',
 'Analytics',
 'E-Commerce',
 'Advertising',
 'Manufacturing',
 'Curated Web',
 'Technology',
 'Manufacturing',
 'Clean Technology',
 'Social Media',
 'Content Creators',
 'Broadcasting',
 'Games',
 'Games',
 'Software',
 'Analytics',
 'Web Hosting',
 'Brand Marketing',
 'Biotechnology',
 'Publishing',
 'Apps',
 'Design',
 'Finance Technology',
 'Advertising',
 'Home Decor',
 'Services',
 'Networking',
 'E-Commerce',
 'Curated Web',
 'Crowdsourcing',
 'Health and Wellness',
 'Digital Entertainment',
 'Beauty',
 'Biotechnology',
 'E-Commerce',
 'Mobile',
 'Entertainment',
 'Curated Web',
 'Advertising',
 'Analytics',
 'Games',
 'Fashion',
 'Exercise',
 'Messaging',
 '3D',
 'Clean Technology',
 'Sports',
 'E-Commerce',
 'Music',
 'Travel',
 'Analytics',
 'Fashion',
 'Contact Centers',
 'Consulting',
 'Manufacturing',
 'Apps',
 'Media',
 'Apps',
 'Mobile',
 'Mobile',
 'Mobile',
 'Biotechnology',
 'Biotechnology',
 'Food Processing',
 'Social Media',
 'Application Platforms',
 'Finance',
 'Curated Web',
 'Mobile',
 'Mobile',
 'Local Businesses',
 'Finance',
 'E-Commerce',
 'Interior Design',
 'Biotechnology',
 'E-Commerce Platforms',
 'Crowdsourcing',
 'Fashion',
 'Brand Marketing',
 'E-Commerce',
 'Games',
 'Automotive',
 'Big Data',
 'Apps',
 'E-Commerce',
 'Manufacturing',
 'Android',
 'Software',
 'E-Commerce',
 'Automotive',
 'Point of Sale',
 'E-Commerce',
 'SEO',
 'Travel',
 'Advertising',
 'Social Media',
 'Business Analytics',
 'Software',
 'Photography',
 'Enterprises',
 'Software',
 'Biotechnology',
 'Mobile',
 'Games',
 'Digital Media',
 'Chemicals',
 'Entertainment',
 'Innovation Engineering',
 'Travel & Tourism',
 'Media',
 'Health and Wellness',
 'Games',
 'Limousines',
 'Games',
 'E-Commerce',
 'Health and Wellness',
 'Hardware',
 'Media',
 'Consulting',
 'Health and Wellness',
 'Creative',
 'Biotechnology',
 'Clean Technology',
 'Biotechnology',
 'Security',
 'Consumer Goods',
 'Mobile',
 'Biotechnology',
 'Games',
 'Charity',
 'Finance',
 'Audio',
 'Biotechnology',
 'Biotechnology',
 'Internet',
 'Hospitality',
 'Clean Technology',
 'Networking',
 'Software',
 'Pets',
 'Real Estate',
 'Video',
 'Fashion',
 'Biotechnology',
 'Coupons',
 'Health and Wellness',
 'Android',
 'Biotechnology',
 'Cloud Computing',
 'Batteries',
 'Online Rental',
 'Biotechnology',
 '3D',
 'Biotechnology',
 'Analytics',
 '3D Technology',
 'Music',
 'Curated Web',
 'Mobile',
 'Hardware + Software',
 'Biotechnology',
 'Finance',
 'Music',
 'Biotechnology',
 'Search',
 'Advertising',
 'Application Platforms',
 'Fashion',
 'Consulting',
 'Human Resources',
 'Biotechnology',
 'Telecommunications',
 'Social Media',
 'Mobile',
 'Health Care Information Technology',
 'Health and Insurance',
 'Service Providers',
 'Real Estate',
 'Finance',
 'Advertising',
 'EdTech',
 '3D',
 'Analytics',
 'Software',
 'SaaS',
 'Digital Media',
 'Clean Technology',
 'Advertising',
 'Music',
 'Finance',
 'Financial Services',
 'Oil & Gas',
 'Biotechnology',
 'Software',
 'Software',
 'Curated Web',
 'Automotive',
 'Software',
 'Audiobooks',
 'Finance',
 'E-Commerce',
 'Apps',
 'Biotechnology',
 'Communications Infrastructure',
 'Business Services',
 'Distributors',
 'Advertising',
 'Real Estate',
 'Biotechnology',
 'B2B',
 'Biotechnology',
 'Biotechnology',
 'Biotechnology',
 'Curated Web',
 'Fashion',
 'Analytics',
 'Design',
 'Health Care',
 'Biotechnology',
 'Biotechnology',
 'E-Commerce',
 'Medical',
 'Biotechnology',
 'Business Services',
 'Biotechnology',
 'Doctors',
 'Fashion',
 'Health Care',
 'Health Care',
 'Curated Web',
 'Employment',
 'Curated Web',
 'Health Care',
 'Biotechnology',
 'Fitness',
 'Biotechnology',
 'Biotechnology',
 'Cloud Computing',
 'Accounting',
 'Fitness',
 'Sales and Marketing',
 'Innovation Engineering',
 'Biotechnology',
 'Collaboration',
 'M2M',
 'Health and Wellness',
 'Hardware + Software',
 'Biotechnology',
 'Software',
 'Biotechnology',
 'Local',
 'Big Data',
 'Biotechnology',
 'Enterprise Software',
 'Home Automation',
 'Real Estate',
 'Design',
 'Financial Services',
 'Clean Technology',
 'Biotechnology',
 'Curated Web',
 'Big Data',
 'Curated Web',
 'Communities',
 'Contact Management',
 'Analytics',
 'Curated Web',
 'Software',
 'Information Security',
 'Software',
 'Biotechnology',
 'Health and Wellness',
 'Financial Services',
 'Electrical Distribution',
 'Content Discovery',
 'Biotechnology',
 'Biotechnology',
 'Advertising',
 'Education',
 'Health Care',
 'Medical',
 'Biotechnology',
 'Clean Technology',
 'Clean Technology',
 'Analytics',
 'Health and Wellness',
 'Software',
 'Crowdsourcing',
 'Education',
 'All Students',
 'Biotechnology',
 'Biotechnology',
 'Health Care',
 'Engineering Firms',
 'Biotechnology',
 'Android',
 'Finance',
 'E-Commerce',
 'E-Commerce',
 'B2B',
 'Curated Web',
 'Biotechnology',
 'Apps',
 'Business Services',
 'Biotechnology',
 'E-Commerce',
 'Apps',
 'Web Hosting',
 'Software',
 'Health and Wellness',
 'Biotechnology',
 'Business Services',
 'Semiconductors',
 'Bitcoin',
 'Curated Web',
 'Social Media',
 'Consulting',
 'EdTech',
 'Biotechnology',
 'Consulting',
 'Advertising',
 'Cloud Computing',
 'Events',
 'Social Media',
 'Education',
 'Biotechnology',
 'Finance',
 'Biotechnology',
 'Internet of Things',
 'Coffee',
 'Clean Technology',
 'Information Technology',
 'EdTech',
 'Health Care',
 'Audio',
 'Energy',
 'Biotechnology',
 'E-Commerce',
 'Business Services',
 'Hardware + Software',
 'Diagnostics',
 'Government Innovation',
 'Biotechnology',
 'Big Data',
 'Health Care',
 'Information Technology',
 'Mobile',
 'Health and Wellness',
 'Health Care',
 'Mobile',
 'Software',
 'Health Care',
 'Pharmaceuticals',
 'Software',
 'Medical',
 'Analytics',
 'Biotechnology',
 'Biotechnology',
 'Social Media',
 'Clean Energy',
 'Enterprise Software',
 'Biotechnology',
 'Apps',
 'Consumer Electronics',
 'Software',
 'EdTech',
 'Enterprise Software',
 'Logistics',
 'Software',
 'Analytics',
 'Software',
 'Software',
 'Health and Wellness',
 'Mobile',
 'Semiconductors',
 'Consumer Goods',
 'Domains',
 'Semiconductors',
 'Biotechnology',
 'Curated Web',
 'Software',
 'Career Management',
 'Software',
 'Biotechnology',
 'Credit Cards',
 'Payments',
 'Health Care',
 'Enterprise Software',
 'Health and Wellness',
 'News',
 'Security',
 'Health Care',
 'Mobile',
 'Cloud Computing',
 'Biotechnology',
 'Advertising',
 'Biotechnology',
 'Health Care',
 'Advertising',
 'Business Services',
 'Accounting',
 'Biotechnology',
 'Enterprise Software',
 'Health and Wellness',
 'Computers',
 'Advertising',
 'Fashion',
 'Finance',
 'Clean Technology',
 'Financial Services',
 'Aerospace',
 'Nonprofits',
 'Advertising',
 'Homeland Security',
 'Analytics',
 'Games',
 'Analytics',
 'Biotechnology',
 'Development Platforms',
 'Hardware + Software',
 'Biotechnology',
 'Semiconductors',
 'Health and Wellness',
 'Consulting',
 '3D',
 'Real Estate',
 'Biotechnology',
 'Consulting',
 'Big Data Analytics',
 'B2B',
 'Cloud Computing',
 'Credit',
 'Colleges',
 'Software',
 'Medical Devices',
 'Search',
 'Enterprise Software',
 'Software',
 'Biotechnology',
 'Construction',
 'Biotechnology',
 'Software',
 'Health and Wellness',
 'Health and Wellness',
 'Information Technology',
 'Medical',
 'Software',
 'Health Care',
 'Biotechnology',
 'Mobile',
 'Content',
 'Health Care',
 'Medical',
 'Mobile',
 'Software',
 'Internet Radio Market',
 'Real Estate',
 'Software',
 'Software',
 'Biotechnology',
 'Hardware + Software',
 'Mobile',
 'Semiconductors',
 'Software',
 'Hardware + Software',
 'Legal',
 'Security',
 'Hardware + Software',
 'Information Technology',
 'Biotechnology',
 'Consumer Goods',
 'Public Relations',
 'Biotechnology',
 'Media',
 'Health and Wellness',
 'Education',
 'Advertising',
 'Finance',
 'Biotechnology',
 'Education',
 'Education',
 'Health and Wellness',
 'Biotechnology',
 'Real Estate',
 'Security',
 'Consumer Electronics',
 'Pharmaceuticals',
 'Health Care',
 'Semiconductors',
 'Biotechnology',
 'Biotechnology',
 'Health Care',
 'Health Care',
 'Biotechnology',
 'Enterprise Software',
 'Advertising',
 'Biotechnology',
 'Clean Technology',
 'Analytics',
 'Finance',
 'Biotechnology',
 'E-Commerce',
 'Brand Marketing',
 'Finance Technology',
 'Software',
 'Software',
 'Career Management',
 'Enterprise Software',
 'Health and Wellness',
 ...]

In [43]:
company["main_category"]=l

In [44]:
company.set_index("permalink", inplace=True)

In [45]:
top3=top_3_investments.join(company,how="inner")
final=top3[["funded_year","main_category","country_code","raised_amount_usd","funding_round_type"]].reset_index(drop=True)
df=final.sort_values(["funded_year","raised_amount_usd"],ascending=[False,False])
df

,funded_year,main_category,country_code,raised_amount_usd,funding_round_type
11082,2015,Distributors,CHN,4.630000e+09,undisclosed
3411,2015,Public Transportation,CHN,2.000000e+09,private_equity
11935,2015,Automotive,USA,1.600000e+09,debt_financing
504,2015,Hotels,USA,1.500000e+09,private_equity
7716,2015,Consumer Electronics,USA,1.500000e+09,debt_financing
...,...,...,...,...,...
136,1979,Enterprise Software,USA,1.000000e+06,seed
892,1977,Computers,USA,2.500000e+05,seed
2017,1973,Local Businesses,USA,NaN,seed
5737,1971,Biotechnology,NaN,5.490000e+05,undisclosed
12251,1960,Mobile,USA,NaN,undisclosed

2.Find the percentage of null values is both table and  visualize them.

In [46]:
company.isnull().sum()/len(company)*100

name              0.001507
homepage_url      7.621143
category_list     0.000000
status            0.000000
country_code     10.483968
state_code       12.878194
region           12.099204
city             12.096191
founded_at       22.934245
main_category     0.000000
dtype: float64

In [47]:
company.isnull().sum()/len(company)*100

name              0.001507
homepage_url      7.621143
category_list     0.000000
status            0.000000
country_code     10.483968
state_code       12.878194
region           12.099204
city             12.096191
founded_at       22.934245
main_category     0.000000
dtype: float64

3: Fill the missing values in round2 table

In [48]:
round2["funding_round_code"].unique()

array(['B', 'A', nan, 'C', 'D', 'E', 'G', 'F', 'H'], dtype=object)

In [49]:
m=round2["funding_round_code"].mode()[0]

In [50]:
round2["funding_round_code"].fillna(m,inplace=True)
round2

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,funded_year
0,/ORGANIZATION/-FAME,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,2015
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,2014
2,/ORGANIZATION/-QOUNTER,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,A,01-03-2014,700000.0,2014
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,2014
4,/ORGANIZATION/0-6-COM,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,2008
...,...,...,...,...,...,...,...
114944,/ORGANIZATION/ZZZZAPP-COM,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,A,01-03-2014,41313.0,2014
114945,/ORGANIZATION/ZZZZAPP-COM,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,A,01-05-2013,32842.0,2013
114946,/ORGANIZATION/ÃERON,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN,2014
114947,/ORGANIZATION/ÃASYS-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,A,01-01-2015,18192.0,2015
114948,/ORGANIZATION/Ä°NOVATIFF-REKLAM-VE-TANÄ±TÄ±M-H...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,A,01-10-2013,14851.0,2013

In [51]:
round2.isnull().sum()

company_permalink              0
funding_round_permalink        0
funding_round_type             0
funding_round_code             0
funded_at                      0
raised_amount_usd          19990
funded_year                    0
dtype: int64

4: Convert the first rows to a dictionary inside  a list

In [52]:
l1=[]
for i in range(0,10):
    l=[]
    for j in round2.columns:
        d={j:round2[j][i]}
        l.append(d)
        
        
    l1.append(l)

In [53]:
l1

[[{'company_permalink': '/ORGANIZATION/-FAME'},
  {'funding_round_permalink': '/funding-round/9a01d05418af9f794eebff7ace91f638'},
  {'funding_round_type': 'venture'},
  {'funding_round_code': 'B'},
  {'funded_at': '05-01-2015'},
  {'raised_amount_usd': 10000000.0},
  {'funded_year': 2015}],
 [{'company_permalink': '/ORGANIZATION/-QOUNTER'},
  {'funding_round_permalink': '/funding-round/22dacff496eb7acb2b901dec1dfe5633'},
  {'funding_round_type': 'venture'},
  {'funding_round_code': 'A'},
  {'funded_at': '14-10-2014'},
  {'raised_amount_usd': nan},
  {'funded_year': 2014}],
 [{'company_permalink': '/ORGANIZATION/-QOUNTER'},
  {'funding_round_permalink': '/funding-round/b44fbb94153f6cdef13083530bb48030'},
  {'funding_round_type': 'seed'},
  {'funding_round_code': 'A'},
  {'funded_at': '01-03-2014'},
  {'raised_amount_usd': 700000.0},
  {'funded_year': 2014}],
 [{'company_permalink': '/ORGANIZATION/-THE-ONE-OF-THEM-INC-'},
  {'funding_round_permalink': '/funding-round/650b8f704416801069bb178a1418776b'},
  {'funding_round_type': 'venture'},
  {'funding_round_code': 'B'},
  {'funded_at': '30-01-2014'},
  {'raised_amount_usd': 3406878.0},
  {'funded_year': 2014}],
 [{'company_permalink': '/ORGANIZATION/0-6-COM'},
  {'funding_round_permalink': '/funding-round/5727accaeaa57461bd22a9bdd945382d'},
  {'funding_round_type': 'venture'},
  {'funding_round_code': 'A'},
  {'funded_at': '19-03-2008'},
  {'raised_amount_usd': 2000000.0},
  {'funded_year': 2008}],
 [{'company_permalink': '/ORGANIZATION/004-TECHNOLOGIES'},
  {'funding_round_permalink': '/funding-round/1278dd4e6a37fa4b7d7e06c21b3c1830'},
  {'funding_round_type': 'venture'},
  {'funding_round_code': 'A'},
  {'funded_at': '24-07-2014'},
  {'raised_amount_usd': nan},
  {'funded_year': 2014}],
 [{'company_permalink': '/ORGANIZATION/01GAMES-TECHNOLOGY'},
  {'funding_round_permalink': '/funding-round/7d53696f2b4f607a2f2a8cbb83d01839'},
  {'funding_round_type': 'undisclosed'},
  {'funding_round_code': 'A'},
  {'funded_at': '01-07-2014'},
  {'raised_amount_usd': 41250.0},
  {'funded_year': 2014}],
 [{'company_permalink': '/ORGANIZATION/0NDINE-BIOMEDICAL-INC'},
  {'funding_round_permalink': '/funding-round/2b9d3ac293d5cdccbecff5c8cb0f327d'},
  {'funding_round_type': 'seed'},
  {'funding_round_code': 'A'},
  {'funded_at': '11-09-2009'},
  {'raised_amount_usd': 43360.0},
  {'funded_year': 2009}],
 [{'company_permalink': '/ORGANIZATION/0NDINE-BIOMEDICAL-INC'},
  {'funding_round_permalink': '/funding-round/954b9499724b946ad8c396a57a5f3b72'},
  {'funding_round_type': 'venture'},
  {'funding_round_code': 'A'},
  {'funded_at': '21-12-2009'},
  {'raised_amount_usd': 719491.0},
  {'funded_year': 2009}],
 [{'company_permalink': '/ORGANIZATION/0XDATA'},
  {'funding_round_permalink': '/funding-round/383a9bd2c04f7038bb543ccef5ba3eae'},
  {'funding_round_type': 'seed'},
  {'funding_round_code': 'A'},
  {'funded_at': '22-05-2013'},
  {'raised_amount_usd': 3000000.0},
  {'funded_year': 2013}]]